/*Share icons CSS*/
icon-wrap {
     width: 100%;
     position: fixed;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .dark {
     margin: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
	 height:5%;
 }
 .dark .btn-gradient {
     color: #aaa;
     box-shadow:#ccc;
 }
 .dark .btn-gradient:hover {
     color: #fff;
 }
 ul li {
     list-style: none;
     display: inline-block;
 }
 .btn-gradient {
     width: 60px;
     height: 60px;
     text-align: center;
     display: block;
     margin: 20px;
     border-radius: 2px;
     transition: all 300ms;
 }
 .btn-gradient i {
     font-size: 30px;
     line-height: 2.1;
     vertical-align: middle;
 }
 .btn-gradient.rounded {
     border-radius: 50%;
     border: 1px solid #aaa);
 }
 @keyframes Gradient {
     0% {
         background-position: 50%;
     }
     50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
 }
 .dark .btn-gradient.facebook:hover {
     box-shadow: 0 5px 8px rgba(26,35,126,0.50);
     background: #3949ab;
     background: linear-gradient(to right,#3949ab 0%,#2196f3 100%);
     background-size: 400%;
     animation: Gradient 1s ease infinite;
 }
 .dark .btn-gradient.google-plus:hover {
    box-shadow: 0 5px 8px rgba(244,67,54,0.50);
    background: #f44336;
    background: linear-gradient(to right,#f44336 0%,#ff1744 100%);
    background-size: 400%;
    animation: Gradient 1s ease infinite;
}
.dark .btn-gradient.instagram:hover {
    box-shadow: 0 5px 8px rgba(63,81,181,0.50);
    background: #ffc107;
    background: linear-gradient(to right,#ffc107 0%,#f50057 50%,#3f51b5 100%);
    background-size: 400%;
    animation: Gradient 1s ease infinite;
}
.dark .btn-gradient.twitter:hover {
    box-shadow: 0 5px 8px rgba(33,150,243,0.50);
    background: #00bcd4;
    background: linear-gradient(to right,#00bcd4 0%,#2196f3 100%);
    background-size: 400%;
    animation: Gradient 1s ease infinite;
}
.dark .btn-gradient.linkedin:hover {
    box-shadow: 0 5px 8px rgba(3,169,244,0.50);
    background: #0288d1;
    background: linear-gradient(to right,#0288d1 0%,#2196f3 100%);
    background-size: 400%;
    animation: Gradient 1s ease infinite;
}

/*NavBar CSS*/

.topnav1 {
  overflow: hidden;
  background-color: white;
  position: fixed;
  padding: 7px 3px 0px;
  top: 0;
  width: 100%;
  z-index:99;
}
.topnav1 img{
	float: left;
}
.topnav1 a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav1 a:hover {
  background-color: #ff9aa2;
  color: white;
}
.topnav1 input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://img.icons8.com/external-dreamstale-lineal-dreamstale/344/external-search-seo-dreamstale-lineal-dreamstale-7.png');
  background-position: 10px 10px; 
  background-size:20px 20px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  margin-left:100px;
}
input[type=text]:focus {
  width: 30%;
}
@media screen and (max-width: 600px) {
  .topnav1 a{
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav1 input[type=text] {
    border: 1px solid #ccc;
	align:center;
  }
}
.float-right{float: right;}

/*NavBar- change bgd color CSS*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin-top: 12%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin-left:8%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
button{
  align-items: center;
  background-color: #FFFFFF;
  box-sizing: border-box;
  color:#000;
  display: inline-flex;
  justify-content: center;
  line-height: 1.25;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
  width: auto;
  border:none;
  margin:0.5vw;
}
button:hover {
  background-color: #ff9aa2;
  color: white;
}
.dropbtn {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow:#eee 0 4px 4px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
  width: auto;
  position:center;
}
.dropbtn:hover, .dropbtn:focus {
  transform: translateY(-1px);
  box-shadow:grey 0 3px 4px;
  background-color: #fff;
  color:#000;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-left:40%;
  margin-right:40%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.column-a1 {
  float: left;
  padding: 10px;
  height: auto;
  margin-left:20%;
  width:59%;
  background-color:#e3fee9;
}
.column-a2 {
  float: left;
  padding: 10px;
  height: auto;
  margin-left:20%;
  width:59%;
  background-color:#fef0f3;
}
.column-a3 {
  float: left;
  padding: 10px;
  height: auto;
  margin-left:20%;
  width:59%;
  background-color:#f0f3fc;
}
.a1:hover {background-color:#A0FCB4;}
.a2:hover {background-color:#fcb6c4;}
.a3:hover {background-color:#ced6f6;}
.show {display: block;}

/*Divider with arrow CSS*/

.fa-chevron-down {
  text-align: center;
  text-decoration: none;
  margin: 13px 2px;
}
.divider-icon {
	left: 50%;
	top: 50%;
	margin-left: -1.5em;
	border-radius: 50%;
	width: 3em;
	line-height: 1em;
	text-align: center;
	background-color: #f7f7f7;
	border-width: 1px;
	position: absolute;
	margin-top: -1.5em;
	height: 2.8em;
}
.divider{
	margin-right: auto;
	margin-left: auto;
	position: relative;
	border-top-style: none;
	height: 4em;
	padding: 18px 0;}
.divider-wrapper {
	box-sizing: border-box;
}
.divider-center-icon::before {
    left: 0;
    right: 50%;
    margin-right: 3em;
	border-color: #eaeaea;
}
.divider-center-icon::after{
	left: 50%;
	right: 0;
	margin-left: 3em;
	border-color: #eaeaea;}
.divider::before, .divider::after {
    content: '';
    position: absolute;
    top: 50%;
    border-top-style: solid;
    border-width: 1px;
}

/*Comment section CSS*/

input {
	border:1px solid #ddd;
	box-shadow:inset 0px 0px 3px 3px #faf7f7
}
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
  width: auto;
}
.button-6:hover {
  transform: translateY(-1px);
  box-shadow:grey 0 3px 4px;
}
.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


/*in general CSS*/

.section1 {
	margin-left:30px;
	margin-right:30px;}
*	 {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 23%;
  padding: 2px;
  height: 200px; 
  background:transparent;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
span{
float:right;
}
.column1 {
  float: left;
  padding: 10px;
  height: auto;
  margin-left:20%;
  width:59%;
  background-color:white;
}
.row1:after {
  content: "";
  display: table;
  clear: both;
}
h2,h1{
	font-family: 'Rubik', sans-serif;
	opacity:0.85;
}
hr {
	border:1px solid  #eaeaea;
}
p {font-family: 'Montserrat', sans-serif;
   line-height:1.65;font-size:17px;opacity:0.8;
}
float-left {
	margin-left:3%;
}
float-right {
	margin-right:3%;
}
nav ul li{ 
      display: inline-block;
      list-style: none;
      margin: 0px 20px;
 }
nav{
	width: 96%;
	background: #FFF;
	overflow: hidden;
	flex: 1;
	padding-left: 60px;
	margin-top: 10px;
 }