* {
  box-sizing: border-box;
}

nav{  
    width:100%;
    background:#E0BBE4;
    overflow: auto;
	flex: 1;
    padding-left: 60px;	 
 }
 nav ul li{ 
      display: inline-block;
      list-style: none;
      margin: 0px 20px;
 }
.image {
	height:250px; 
	width:200px;
	margin:0;
	padding:0;
}
.overlay {
	position:absolute;
	bottom:0;
	left: 0;
    right: 0;
	background-color: #2d4141;
	overflow: hidden;
	width: 200px;
	height: 0;
	overflow: hidden;
	transition: .5s ease;
}
.overlay:hover {
	height:18%
}
td:hover {
	box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.5);
	transform: scale(1.03); 
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
  height: 100%; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
li{display:block;}
 
.topnav1 {
  overflow: hidden;
  background-color: white;
  padding: 10px 10px 0px 10px;
  top: 0;
  width: 100%;      
}
.topnav1 img{float:left;}

/* Style the links inside the navigation bar */
.topnav1 a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav1 a:hover {
  background-color: #ff9aa2;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav1 input[type=text] {
  position: absolute;
  left: 45%;
  background-color:#e9e9e9;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width:300px;
}
.float_right{float: right;}

p.ex1 {
  margin-left: 30px;
  margin-right: 30px;
}
p.right{text-align:right;}

.vertical {
    border-left: 6px solid black;
    height: 200px;
    position:absolute;
    left: 40%;
}
.column0{
	float:left;
	width:20%;
	height:300%;
}

.column1{
	float:left;
	width:70%;}
	
b {font-family: 'Montserrat', sans-serif;}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
	.b-green {
		border:0px solid #04AA6D
	}
	.b-blue {
		border:0px solid #2196F3
	}
	.b-orange {
		border:0px solid #a18ebf
	}
	.b-red {
		border:0px solid #e85a85
	}
	
	.green {
		border-color: #04AA6D;
		color: green;
	}
	.green:hover {
		background-color: #04AA6D;
		color: white;
	}

	.blue {
		border-color: #2196F3;
		color: dodgerblue
	}
	.blue:hover {
		background: #2196F3;
		color: white;
	}

	.orange {
		border-color: #a18ebf;
		color: purple;
	}
	.orange:hover {
		background: #a18ebf;
		color: white;
	}

	.red{
		border-color: #e85a85;
		color: pink;
	}
	.red:hover {
		background: #e85a85;
		color: white;
	}
	
.ok {float:right;}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  border-color:white;
}
#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}
 
/* Style each of the sides
with a fixed width and height */
.slide {
  float: left;
  height: 510px;
  width: 728px;
}
 
/* Add animation to the slides */
.slide-wrapper {
   
/* Calculate the total width on the
  basis of number of slides */
  width: calc(728px * 4);
 
/* Specify the animation with the
  duration and speed */
  animation: slide 10s ease infinite;
}
@keyframes slide {
   
/* Calculate the margin-left for
  each of the slides */
  20% {
    margin-left: 0px;
  }
 
  40% {
    margin-left: calc(-728px * 1);
  }
 
  60% {
    margin-left: calc(-728px * 2);
  }
 
  80% {
    margin-left: calc(-728px * 3);
  }
}